<% if @view_in_config && @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>

<div class="container">
	<div class="page-header clearfix">
      <div class="pull-left">
        <h2><%=@title%></h2>
      </div>
    </div>
<div class="row">
  <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Project Name') %></b>
  </div>
  <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.name %>
  </div>
</div>
<div class="row">
  <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Customer') %></b>
  </div>
  <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.customer.name %>
  </div>
</div>
<div class="row">
  <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Project Description') %></b>
  </div>
  <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.project_desp %>
  </div>
</div>
<div class="row">
  <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Construction Spec') %></b>
  </div>
  <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.construction_spec %>
  </div>
</div>
<div class="row">
  <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
  <b><%= t('Other Spec') %></b>
  </div>
  <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
  <%= @project.other_spec %>
  </div>
</div>
<div class="row">
	<div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Construction Address') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.construction_address %>
    </div>
</div>
<div class="row">
	<div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Construction Start Date') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.construction_start_date.strftime('%Y/%m/%/d') if @project.construction_start_date.present? %>
    </div>
</div>
<div class="row">
	<div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Construction Finish Date') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.construction_finish_date.strftime('%Y/%m/%/d') if @project.construction_finish_date.present? %>
    </div>
</div>
<div class="row">
	<div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Turnover Date') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.turn_over_date.strftime('%Y/%m/%/d') if @project.turn_over_date.present? %>
    </div>
</div>
<div class="row">
	<div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Cancelled') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.cancelled ? t('Yes') : t('No') %>
    </div>
</div>
<div class="row">
	<div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Completed') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.completed ? t('Yes') : t('No') %>
    </div>
</div>
<div class="row">
	<div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
    <b><%= t('Awarded') %></b>
    </div>
    <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
    <%= @project.awarded ? t('Yes') : t('No') %>
    </div>
</div>
<div class="row">
  <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
  <b><%= t('Last Updated By') %></b>
  </div>
  <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
  <%= @project.last_updated_by.name %>
  </div>
</div>
<div class="row">
  <div class="col-sm-<%=BUTTONS_CLS['left-span#']%> form-group">
  <b><%= t('LOG') %></b>
  </div>
  <div class="col-sm-<%=BUTTONS_CLS['right-span#']%> form-group">
  <% Commonx::Log.where('resource_id = ? AND resource_name = ?', @project.id, params[:controller].sub('/', '_')).order("created_at DESC").each do |t| %>
    <li><%= t.created_at.strftime("%Y/%m/%d") %>,&nbsp; <%= t.last_updated_by.name %>,&nbsp; <%= t.log %></li>
  <% end %>
  </div>
</div>

   <div class="row">
    	<%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => 'btn btn-default'%>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= link_to t('File Upload'), SUBURI + "/view_handler?index=1&url=#{CGI.escape file_uploaderx.new_uploaded_file_path(resource_id: @project.id, resource_string: params[:controller])}", :class => 'btn btn-default'%>
    	<%= link_to t('New Log'), SUBURI + commonx.new_log_path(:resource_id => @project.id, :resource_name => params[:controller], :subaction => 'project',
    	     :format => :js), :remote => true, :id => 'new_log_link' , :class => 'btn btn-default' if has_action_right?('create_project', 'commonx/logs') %>
    </div>


</div>


<% end %>
